/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%*/
/*}*/
/*textarea {*/
/*    margin-bottom: 10em;*/
/*}*/


form.form-horizontal{
    background-color: #eee;
    padding: 2em;
    border-radius: 40px;
    border: 1px solid #123;
    width: 40em;
    margin: 0 auto;
}